<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <tr>
            <td>标题</td>
            <td>
                <input type="text" name="title" >
            </td>
        </tr>
         <tr>
            <td>内容</td>
            <td>
                <input type="text" name="content">
            </td>
        </tr>
        <tr>
            <td>内容</td>
            <td>
                <input type="text" name="content">
            </td>
        </tr>
        <tr>
            <td>内容</td>
            <td>
                <input type="text" name="content">
            </td>
        </tr>

    </table>


</form>

</body>
</html>