<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    ul,li { list-style:none; list-style-type:none; padding:0; margin:0;}
    ul li {  width:80px; height:30px; background:#00ffff; line-height:30px; text-align:center; margin-bottom:2px; color:#fff;}
    li a {text-decoration:none;}
</style>
<body>


    <ul >
        <li><a href="@{HomeCtrl.rightcontent_1}" target="showframe">文章列表</a></li>
        <li><a href="@{HomeCtrl.rightcontent_2}" target="showframe">上传文章</a></li>
        <li><a href="@{HomeCtrl.rightcontent_3}" target="showframe">个人信息</a></li>
    </ul>


</body>
</html>