<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

   <form>
       <table>
           <tr>
               <td>
                   用户名：
               </td>
               <td>
                   <input type="text" placeholder="yonghuiming" >
               </td>
           </tr>
           <tr>
               <td>
                   用户名：
               </td>
               <td>
                   <input type="text" placeholder="yonghuiming" >
               </td>
           </tr>
       </table>
   </form>
</body>
</html>