#{extends 'main.html' /}
#{set title:'Home' /}


<form action="@{LoginCtrl.registerAction()}">
    <table width=”600″ border=”1″ cellspacing=”0″ cellpadding=”2″ bordercolor=”#009900″>


        <tr>
            <td colspan="2">
                <input type="text" name="loginName" placeholder="请输入账号" value="">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="password" name="loginPassword" placeholder="请输入密码" value="">
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <input type="password" name="loginPassword" placeholder="请再次输入密码" value="">
            </td>

        </tr>
        <tr>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="remember" id="remember" value="option">同意
                </label>
            </td>
            <td>
                <button  type="submit">确定注册</button>
            </td>

        </tr>
    </table>
</form>